In [30]:
import pandas as pd
i
train = pd.read_excel('data/mara.xlsx')
train.head()

         name             addr
0      손오공마라탕  (지번) 동교동 169-14
1  손오공마라탕 서교점  (지번) 서교동 369-26
2        희래식당  (지번) 역삼동 825-20
3  중경마라탕 강남역점  (지번) 역삼동 619-17
4         진지아   (지번) 송파동 23-10

In [31]:
trainset = train['addr']
trainset

0      (지번) 동교동 169-14
1      (지번) 서교동 369-26
2      (지번) 역삼동 825-20
3      (지번) 역삼동 619-17
4       (지번) 송파동 23-10
            ...
295     (지번) 구로동 794-3
296       (지번) 군자동 361
297        (지번) 구로동 97
298    (지번) 구로동 130-32
299       (지번) 인사동 263
Name: addr, Length: 300, dtype: object

In [36]:
for i in range(300):
    test = trainset[i].split()[1]
    print(test)

동교동
서교동
역삼동
역삼동
송파동
역삼동
을지로2가
동선동1가
서교동
대림동
자양동
창천동
창천동
명동2가
역삼동
서초동
남대문로1가
회기동
역삼동
신림동
송파동
창천동
혜화동
자양동
반포동
동교동
서교동
태평로1가
하왕십리동
서교동
봉천동
명륜2가
대현동
입정동
낙성대동
종로5가
서교동
역삼동
역삼동
역삼동
대치동
상암동
도화동
영등포동
남현동
신문로1가
연남동
구로동
등촌동
장안동
자양동
신길동
성내동
신사동
회현동1가
삼성동
동교동
대현동
동교동
봉천동
노량진동
역삼동
신림동
회현동1가
제기동
봉천동
구로동
당산동6가
수유동
신림동
문래동3가
구로동
서교동
회기동
대치동
노량진동
역삼동
신림동
회현동1가
제기동
봉천동
구로동
당산동6가
수유동
신림동
문래동3가
구로동
서교동
회기동
대치동
서초동
을지로6가
화곡6동
청담동
상암동
잠실동
한남동
역삼동
마곡동
자양동
여의도동
이문동
회기동
청진동
중계동
신림동
자양동
흑석동
공릉동
중화동
대림동
안암동5가
화양동
여의도동
서초동
신림동
가락동
자양동
신천동
신당동
대림동
명륜2가
명동2가
서교동
서교동
안암동5가
사당동
역삼동
잠원동
행당동
북창동
이문동
창천동
사당동
충정로1가
관철동
수유동
갈현동
서교동
월계동
중림동
논현동
망원동
서교동
상암동
태평로2가
잠실동
가양동
흑석동
여의도동
관철동
수유동
갈현동
서교동
월계동
중림동
논현동
망원동
서교동
상암동
태평로2가
잠실동
가양동
흑석동
여의도동
천호동
청파동3가
홍은동
당주동
후암동
마곡동
마곡동
자양동
소공동
미아동
청파동2가
대현동
역삼동
서교동
송파동
구로동
신도림동
수표동
신당동
청진동
신길동
신정동
화곡동
대림동
낙원동
군자동
성수동2가
이문동
을지로2가
갈현동
한강로2가
동교동
반포동
불광동
능동
신림동
봉천동
관철동
신도림동
을지로6가
동숭동
천호동
성내동
화곡동
신당동
신림동
흑석동
행당동
상암동
회기동
신림동
상암동
신당동
논현동
흑석동
을지로2가
신림동
봉천동
신도림동
방배동
신림동
흑석동
행당동
상암동
회기동
신림동
상암동
신당동
논현동
흑석동
을지로2가
신림동
봉천동
신도림동
방배동
용문동
신길동
가산동
독산동
구로동
상도동
가산동
문정동
갈현동
서교동
문정동
자양동
신길동
남가좌동
봉래동1가
여의도동
창천동
여의도동
대림동
가리봉동
신림동
석촌동
대현동
제기동
연남동
회기동
천호동
남영동
봉천동
봉천동
여의도동
영등포동4가
구로동
자양동
독산동
남창동
이문동
화곡동
충무로2가
대림동
구로동
역삼동
청량리동
신대방동
가산동
양평동4가
필동3가
행당동
대림동
역삼동
하월곡동
연희동
동선동1가
필동2가
봉천동
구로동
군자동
구로동
구로동
인사동

In [33]:
test = trainset[0].split()
test

['(지번)', '동교동', '169-14']

In [ ]:
shee